<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhirfy.ZPM">
    <Module>
      <Name>iris-fhirfy</Name>
      <Version>1.0.0</Version>
      <Description>Using IRIS and LLMs to help developers to convert raw data into FHIR</Description>
      <Keywords>FHIR,LLM,Interoperability</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Dependencies>
        <ModuleReference>
        <Name>fhir-server</Name>
        <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
        <Name>swagger-ui</Name>
        <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <FileCopy Name="data/dc/jrpereira/irisfhirfy/fhir" Target="${mgrdir}test-data-fhir/"/>
      <Invokes>
        <Invoke Class="dc.jrpereira.fhirfy.core.Utils" Method="LoadPatientData" Phase="Activate" When="After" >
          <Arg>${mgrdir}test-data-fhir/</Arg>
          <Arg>FHIRSERVER</Arg>
          <Arg>/fhir/r4</Arg>
        </Invoke>
      </Invokes>
      <Resource Name="dc.jrpereira.fhirfy.PKG"/>
      <UnitTest Name="/tests" Package="dc.jrpereira.fhirfy.unittests" Phase="test"/>
      <CSPApplication CookiePath="/csp/api/dc/fhirfy/" DefaultTimeout="900" DispatchClass="dc.jrpereira.fhirfy.api.disp" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/csp/api/dc/fhirfy" UseSessionCookie="2" MatchRoles=":{$dbrole}" />
      <CSPApplication CookiePath="/csp/dc/fhirfy/" DefaultTimeout="900" DeployPath="{cspdir}/csp/${namespace}/" Description="FHIRfy" MatchRoles=":{$dbrole}" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" SourcePath="/src/csp" UnauthenticatedEnabled="1" Url="/csp/fhirfy" UseSessionCookie="2"/>
    </Module>
  </Document>
</Export>
