body {
    font-family: 'Raleway', sans-serif;
    background-color: #f8f8f8;
    color: #003cab;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
}

.dark-theme {
    background-color: #2d3250;
    color: #fff;
}

.dark-theme .bottom-bar {
    background-color: #424769;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0 0 30px;
}

.logo span {
    display: inline-block;
    background-color: #003cab;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 2px;
}

.theme-switch-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.theme-toggle {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.bottom-bar {
    display: flex;
    flex-shrink: 0;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: calc(100% - 120px);
    height: 50px;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e7eefb;
    color: #003cab;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5), inset -2px -2px 10px rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.5s;
}

.dark-theme .bottom-bar textarea {
    background-color: #424769;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #e2ab2d;
    color: #003cab;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), -2px -2px 10px rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.5s;
}

button:hover {
    background-color: #ff9c4d;
}

.response-container {
    margin-top: 20px;
}

.response-text {
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    width: 100%;
    overflow: hidden;
    border-right: 2px solid #fff;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: bottom;
    animation: typing 3s steps(40) infinite;
}

.user-prompt {
    background-color: #e7eefb;
    color: #003cab;
    font-style: italic;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .user-prompt {
    color: #d7d7d7;
    background-color: #676f9d;
}

.clear-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.clear-button:hover {
    color: #ff5a5a;
}

.container:hover .clear-button {
    opacity: 1;
}

.button-icon {
    margin-right: 5px;
}

#card-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative; /* Added position relative */
}

.dark-theme #card-container {
    background-color: #424769;
    color: #fff;
}

.instruction-card {
    display: none;
    text-align: center;
    padding: 20px;
}

#instructions-card-1 {
    display: block;
}

#instruction-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #2D3250;
}

#settings-container {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#settings-form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}